{% extends 'bugs/base.html' %}
{% block content %}
<div class="container">
  {% if user != None and user.is_authenticated %}
    <div align="right">
      <a href="{% url 'bugs_edit' pk=object.id %}" class="btn btn-primary btn-sm" role="button">Edit</a>
    </div>
  {% endif %}
  <br>
    <div class="panel panel-default">
      <div class="panel-heading">
        Bug: {{ object.title}}
      </div>
      <div class="panel-body">
        <div>Created: {{ object.created_at }}</div>
        <div>Reporter: {{ object.owner }}</div>
        <div>Assignee: {{ object.assignee }}</div>
        <div>Status: {{ object.state }}</div>
        <div>Priority: {{ object.level }}</div>
        <div>Description: {{ object.description }}</div>
      </div>
    </div>
</div>
{% endblock %}